{% load static %}
<head>
    <title>ElP</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    
<section class="landing-section landing-main">
    <h1 class="brand">E l P</h1>
    <h2>
      <span class="brand-text">E learning Platform
    </h2>
    <h3 class="landing-main-text">
      Need to level up in a course of your choice?
      <br>
      Do so here...
    </h3>
    <section class="landing-feature feature-music-services">
      <h2>
        <a style="color: #009ec5; text-decoration:none" href="/elp/signup">Signup</a>
        <a style="color: #009ec5; text-decoration:none" href="elp/login">Signin</a>
      </h2>


    </section>
</section>

</body>
